[submodule "diagnostico-prologEngine"]
	path = diagnostico-prologEngine
	url = https://github.com/Abdieeel03/diagnostico-prologEngine.git
[submodule "diagnostico-pythonConversationEngine"]
	path = diagnostico-pythonConversationEngine
	url = https://github.com/Abdieeel03/diagnostico-pythonConversationEngine.git
[submodule "diagnostico-scalaBackendAPI"]
	path = diagnostico-scalaBackendAPI
	url = https://github.com/Abdieeel03/diagnostico-scalaBackendAPI.git
[submodule "diagnostico-frontendChatbot"]
	path = diagnostico-frontendChatbot
	url = https://github.com/Abdieeel03/diagnostico-frontendChatbot.git
